@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(rgba(229, 149, 0, 0.5), rgba(229, 149, 0, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Rubik', serif;
    position: relative;
    z-index: 2;
}

body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(1px);
    z-index: 1;
}

.container {
    width: 1200px;
    height: 700px;
    box-shadow: 
    0 30px 27px -50px rgba(0, 0, 0, 0.5), 
    0 40px 57px -2px rgba(0, 0, 0, 0.5);    
    background: #202020;
    border-radius: 5px;
    display: flex;
    z-index: 10;
}

.cards {
    color: #FFF;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.card {
    background: #0a0908;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 290px;
    padding: 0 20px;
    border-radius: 20px;
    box-shadow: 0 17px 37px -12px rgba(0, 0, 0, 0.25);    
    overflow: hidden;
}

.card .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .price div {
    margin-right: 10px;
}

.card .price h2 {
    font-size: 30px;
}

.card .price h2 span {
    font-weight: 200;
}

.card .price p {
    font-size: 12px;
}

.card .price i {
    background: linear-gradient(to left, #e59500 10%,#cd700d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
    margin-left: 20px;
}

.card .title {
    position: relative;
    top: 0;
    left: -20px;
    text-align: left;
    padding: 10px 5px;
    width: 170px;
    background-color: rgba(229, 149, 0, 0.09);
}

.card .title h1 {
    margin-left: 30px;
}

.card ul {
    list-style: none;
    text-align: left;
    margin-left: 10px;
}

.card ul li {
    margin-bottom: 10px;
}

.card ul li i {
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
    background-color: #e59500;
    border-radius: 50%;
}

.card button {
    color: #FFF;
    font-size: 14px;
    font-family: inherit;
    background: linear-gradient(to left, #e59500 10%,#cd700d 100%);
    border: none;
    padding: 10px;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}